
  
  <div class="row-topinfo">
   <% @random.each do |infolist| %>


<table border="1">
  <thead>
   <tr>
     <th>
      <%= attachment_image_tag infolist, :image, :fill, 150, 150, format: 'jpeg' %>
     </th>
   </tr>
  </thead>

  <tbody>
  <tr>
   <td class="row-topinfotitle">
       タイトル<br>
       『 <%= link_to infolist.title, infolist_path(infolist.id) %>』
   </td>
  </tr>
      <% end %>
  </div>
  </tbody>
</table>
