<div class="text-center">
<h1>Q&A</h1>
<h3>どういうサイトなの？</h3>
KnowledgEasyは誰でもお手軽に知識が投稿できるをコンセプトにしたサイトです<br>
必要なのは最低限の会員登録だけ！ぜひあなたの知識を共有しましょう！<br>

<h3>投稿するには</h3>
まずは会員登録をしましょう！<br>
ニックネームとメールアドレスとパスワードを登録したら新規登録可能です<br>



その他・お問い合わせはこちらから<br></br>


</div>