

<h1>KnowledgEasyとは</h1>
 <h3>
   <strong>知識(Knowledge)</strong>を<strong>手軽(Easy)に</strong><br>
   投稿し共有できるサイトです<br>
 </h3>

<br></br>

<h2>★投稿されている知識例</h2>

  <div class="row-topinfo">
   <% @random.each do |infolist| %>

<table class='table table-condensed table-bordered'>
  <thead>
   <tr>
     <th>
      <%= attachment_image_tag infolist, :image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg", size:'150x150' %>
     </th>
   </tr>
  </thead>

  <tbody>
  <tr>
   <td class="row-topinfotitle">
       タイトル<br>
       『 <%= link_to infolist.title, infolist_path(infolist.id) %>』
   </td>
  </tr>
      <% end %>
  </div>
  </tbody>
</table>


