<h1>KnowledgEasyとは</h1>
<h3>
<strong>知識(Knowledge)</strong>を<strong>手軽(Easy)に</strong><br>
投稿し共有できるサイトです<br>
</h3>

知識ランダム表示
<!--<div class="row">-->
<!--<div class="col-sm-2">-->
<!--ジャンル一覧-->
<!--</div>-->

<!--<div class="col-sm-10">-->
<!--<div class="top-text">-->

<!--<div class="row">-->
<!--新規投稿-->
<!--</div>-->

<!--<div class="row">-->
<!--人気投稿ランキング-->
<!--</div>-->

<!--<div class="row">-->
<!--新着投稿-->
<!--</div>-->


<!--</div>-->
<!--</div>-->